/* colors.css */
:root {
    --color-gray900: #101828;
    --color-gray700: #344054;
    --color-gray600: #475467;
    --color-gray500: #667085;
    --color-gray300: #D0D5DD;
    --color-gray200: #EAECF0;
    --color-gray50: #F9FAFB;
    --color-gray25: #FCFCFD;
    --color-gray10: #FAFAFA;
    --color-white: #FFFFFF;
    --color-primary700: #10537F;
    --color-primary600: #146AA3;
    --color-primary50: #DBEEFB;
}