.Content {
    min-height: 200px;
    max-height: 427px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

/* Header */
.Header {
    display: flex;
    flex-direction: column;
    padding: 16px 24px 0 24px;
}


/* Group Name Content */
.GroupHeader {
    margin-bottom: 20px;
}

.Group {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

#group-input {
    font-size: 16px;
    display: block;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid var(--color-gray300);
    font-weight: 400;
    color: var(--color-gray500);
    font-family: 'Poppins', sans-serif;
}


#group-input:focus {
    outline: none;
    border: 1px solid rgb(60, 151, 227);
    box-shadow:
        0 0 0 2px #90c2e9;
}


.GroupInputWrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 400px;
}

.RequiredAsterisk {
    color: red;
}

/* AccessTree */
.AccessTree {
    background-color: red;
    flex: 1,
}