.Content {
    min-height: 200px;
    max-height: 427px;
}

.GroupNameHeader {
    margin-bottom: 20px;
}


.GroupName {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.GroupNameInputField {
    width: 400px;
    display: block;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid var(--color-gray300);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-gray500);
    font-family: 'Poppins', sans-serif;
}

.GroupNameInputField:focus {
    outline: none;
    border: 1px solid rgb(60, 151, 227);
    box-shadow:
        0 0 0 2px #90c2e9;
}


.GroupNameInputContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.RequiredAsterisk {
    color: red;
}

.GroupNameDescription {
    color: var(--color-gray600);
}