.button {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.outline {
    /* color: #344054;
    border-color: #D0D5DD; */
    color: var(--color-gray700);
    background-color: var(--color-white);
    border-color: var(--color-gray300);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    padding: 8px 16px;
}

.outline:hover {
    /* background-color: #fafafa; */
    background-color: var(--color-gray10);
}

.filled {
    color: var(--color-white);
    /* background-color: #146AA3; */
    background-color: var(--color-primary600);
    border-radius: 8px;
    padding: 8px 16px;
}

.filled:hover {
    /* background-color: #0F4C81; */
    background-color: var(--color-primary700);
}