.button {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

    /* The "Magic" line for the single-story 'g' */
    font-feature-settings: "cv05" 1;
}

.primary {
    /* color: #344054;
    border-color: #D0D5DD; */
    color: var(--color-gray700);
    border-color: var(--color-gray300);
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    padding: 8px 16px;
}

.primary:hover {
    /* background-color: #fafafa; */
    background-color: var(--color-gray10);
}

.secondary {
    color: var(--color-white);
    /* background-color: #146AA3; */
    background-color: var(--color-primary600);
    border-radius: 8px;
    padding: 8px 16px;
}

.secondary:hover {
    /* background-color: #0F4C81; */
    background-color: var(--color-primary700);
}