.button {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;

    /* The "Magic" line for the single-story 'g' */
    font-feature-settings: "cv05" 1;
}

.primary {
    color: #344054;
    border-color: #D0D5DD;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    padding: 8px 16px;
}

.primary:hover {
    background-color: #fafafa;
}

.secondary {
    color: #FFFFFF;
    background-color: #146AA3;
    border-radius: 8px;
    padding: 8px 16px;
}

.secondary:hover {
    background-color: #0F4C81;
}