/* Text.module.css */

/* Base style for all text */
.text {
    font-family: 'Poppins', sans-serif;
    margin: 0;

    /* The "Magic" line for the single-story 'g' */
    font-feature-settings: "cv05" 1;
}

/* Variants */
.xl {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.lg {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.md {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.sm {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}


/* Colors */

.primary {
    /* color: #10537F; */
    color: var(--color-primary700);
}

.gray-light {
    /* color: #667085; */
    color: var(--color-gray500)
}

.gray {
    /* color: #475467; */
    color: var(--color-gray600);
}

.gray-dark {
    /* color: #101828; */
    color: var(--color-gray900);
}

.white {
    color: var(--color-white);
}

/* Font Weights */

.bold {
    font-weight: 600;
}

.semi-bold {
    font-weight: 500;
}

.regular {
    font-weight: 400;
}



/* 

gray900 = #101828
gray600 = #475467
gray500 = #667085
Primary/700 = #10537F
primary600 = #146AA3 (button bg)
primary50 (background) = #DBEEFB
graybg = #FCFCFD
grayborder = #EAECF0 1px
gray300 =#D0D5DD
*/