/* Header */
.Header {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
}


/* Search Bar */
.SearchBar {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    align-items: center;
}

.NumberOfNodes {
    text-align: right;
    flex: 1;
}


/* Search Input */
.SearchInputFieldWrapper {
    position: relative;
    display: flex;
    width: 445px;
    align-items: center;
}

.SearchInputField {
    display: block;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid var(--color-gray300);
    font-weight: 400;
    color: var(--color-gray500);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    flex: 1;
    padding-left: 42px;
    /* 42 = 14(padding-left) + 20(icon) + 8(gap) */
}

.SearchInputField:focus {
    outline: none;
    border: 1px solid rgb(60, 151, 227);
    box-shadow:
        0 0 0 2px #90c2e9;
}

.SearchInputIcon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--color-gray500);
    font-size: 20px;
}