/* AccessTree */
.AccessTree {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Common Styles */
.AccessTreeText {
    flex: 1;
    padding-left: 12px;
}

.AccessTreeRole {
    width: 149px;
    text-align: right;
}

.Checkbox {
    height: 20px;
    width: 20px;
    border: 1px solid var(--color-gray300);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.CheckboxActive {
    background-color: var(--color-primary50);
    color: var(--color-primary600);
    border: 1px solid var(--color-primary600);
}

.CheckboxIcon {
    width: 18px;
    height: 18px;
}


/* Header */
.AccessTreeHeader {
    display: flex;
    flex-direction: row;
    height: 40px;
    background-color: var(--color-gray50);
    align-items: center;
    padding: 0 24px;
    border-top: 1px solid var(--color-gray200);
    border-bottom: 1px solid var(--color-gray200);
}