/* Body */
.AccessTreeBody {
    overflow: scroll;
}

/* Row */
.AccessTreeRow {
    display: flex;
    flex-direction: row;
    height: 56px;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid var(--color-gray200);
}

.AccessTreeRow:hover {
    background-color: var(--color-gray10);
}

.AccessTreeRow:last-child {
    border-bottom: none;
}

/* Popup */
.DropDownIcon {
    margin-left: 8px;
    cursor: pointer;
    color: var(--color-gray500);
    width: 14px;
    height: 14px;
}

.Popup {
    position: relative;
}

.PopupContent {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray200);
    border-radius: 4px;
    width: 200px;
    padding: 3px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
    box-shadow:
        0px 4px 6px -2px rgba(16, 24, 40, 0.03),
        0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.PopupItem {
    display: flex;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
}

.SelectedPopupItem {
    background-color: #fafafa;
}

/* CheckIcon */
.CheckIcon {
    color: var(--color-primary600);
    height: 20px;
    width: 20px;
}